* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: verdana;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: none;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: #b88080d7;
  color: #ffffff;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  div.header {
    background-color: rgba(255, 255, 255, 0.288);
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.685);
    user-select: none;
    position: fixed;
    top: 0;
    width: 100%;
    display: initial;
    padding: 8px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  div.bar,
  div#cross {
    float: left;
    width: auto;
    margin-left: 2%;
    margin-top: 2%;
    cursor: pointer;
    padding: 7px;
  }

  div.bar:hover,
  div#cross:hover {
    background-color: rgb(229, 228, 230);
    padding: 7px;
    border-radius: 10px;
    width: auto;
  }

  div.bar:active,
  div#cross:active {
    background-color: rgb(235, 235, 235);
    padding: 7px;
    border-radius: 10px;
    width: auto;
  }

  div.bar1,
  div.bar2,
  div.bar3,
  div.bar4 {
    padding: 1.6px;
    margin: 3px;
    width: 20px;
    background-color: #837f7f;
    border-radius: 50px;
  }

  div.bar3 {
    transform: rotate(135deg) translate(2px, -1px);
  }

  div.bar4 {
    transform: rotate(-135deg) translate(2.8px, 2.5px);
  }

  div.h1 {
    color: #5e5d5d;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.3rem;
    left: 0;
    right: 0;
    padding: 7px;
    margin-top: 7px;
  }

  div.h1 h1 {
    background: linear-gradient(180deg, rgb(12, 74, 95), rgb(6, 119, 156));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  header {
    display: none;
    position: static;
  }

  div.logo img {
    float: right;
    display: block;
    max-width: 35%;
    margin: 10px;
    margin-right: 25%;
    padding: 3px;
    border-radius: 50%;
    background-color: #dfa6a6e5;
    transition: background-color 0.3s;
  }

  div.menu {
    display: none;
    /* height: 100vh; */
    margin-left: 50px;
    max-height: fit-content;
    margin-top: 20px;
  }

  div.menu ul {
    list-style-type: none;
    max-width: fit-content;
  }

  div.menu ul li a {
    display: block;
    padding: 5px;
    color: #5f5e5e;
    padding: 12px 5px;
    text-decoration: none;
    font-size: 14px;
    user-select: none;
    cursor: pointer;
    border-radius: 5px;
  }

  div.menu ul li {
    margin-left: 5%;
    max-width: 85%;
  }

  div.menu ul li a:hover {
    color: #3b3b3b;
    /* background-color: rgb(199, 196, 196); */
    text-decoration: underline #945353 2px;
  }

  div.menu ul li a.active {
    color: #3b3b3b;
    font-weight: bold;
    text-decoration: underline #945353 2px;
  }

  div.menu div.clock {
    padding: 8px 5px;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.664);
    max-width: fit-content;
    margin: auto;
  }

  div.navbar a {
    display: none;
  }

  div#page {
    margin-top: 2%;
    margin-bottom: 10px;
  }

  div#page div.title p {
    background-color: rgb(78, 111, 173);
    color: white;
    margin: 5px 0 5px 0px;
    padding: 8px 5px;
    width: 8em;
    text-align: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bold;
    font-size: small;
  }

  div#page div.about-text {
    padding: 20px;
    max-width: 85%;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    color: #fff;
    font-size: small;
    border-radius: 10px;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 0.336);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);
    color: #333;
    border: 1px solid rgb(253, 152, 69);
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  div#page div.about-text .profilepic {
    background-image: linear-gradient(rgba(255, 255, 255, 0.911),
        rgba(230, 212, 212, 0.5));
    margin: auto;
    border-radius: 8px;
    width: auto;
    height: 135px;
    object-fit: cover;
    display: block;
    /* position: relative; */
  }

  div#page div.about-text div.desc-title {
    background: linear-gradient(180deg, rgb(4, 72, 95), rgb(4, 72, 95));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline 1.5px rgb(69, 107, 11);
  }

  div#page div.contact-info {
    max-width: fit-content;
    display: block;
    background-color: rgba(255, 255, 255, 0.336);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);
    margin: auto;
    border-radius: 15px;
    padding: 15px;
    border: 1px solid rgb(206, 182, 49);
    z-index: 0;
  }

  div#page div.contact-info p {
    font-size: 0.7rem;
    color: rgb(43, 43, 41);
    font-weight: bold;
  }

  div#page div.contact-info ul {
    list-style-type: none;
  }

  div#page div.contact-info ul li {
    margin: 8px;
    font-size: 0.7rem;
  }

  div#page div.contact-info ul li i {
    background: none;
    color: rgb(37, 28, 28);
  }

  div#page div.contact-info ul li a {
    color: rgb(37, 28, 28);
    text-decoration: none;
    background: none;
    padding: 5px;
    border-radius: 10px;
  }

  div#page div.contact-info ul li a:hover {
    background-color: #a7a4a441;
  }

  #scrolling {
    font-size: small;
    color: rgb(252, 191, 101);
    width: 20%;

    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 40px;
    /* Place the button at the bottom of the page */
    right: 20px;
    /* Place the button 30px from the right */
    z-index: 99;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    background-color: rgba(63, 11, 22, 0.918);
    box-shadow: 0 2px 5px -2px rgb(116, 79, 79);
    border: 1px solid rgb(255, 204, 160);
    user-select: none;
    cursor: pointer;
  }

  #scrolling:active {
    background-color: rgba(151, 6, 38, 0.918);
  }

  footer.copyright {
    background-color: rgba(255, 255, 255, 0.288);
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.685);
    color: #333;
    margin-bottom: 0;
    font-size: 12px;
    padding: 8px 5px;
    text-align: center;
    font-weight: bold;
    user-select: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  div.header {
    display: none;
  }

  header {
    display: initial;
    user-select: none;
  }

  .navbar {
    width: 100%;
    position: sticky;
    top: 0;
  }

  .navbar a {
    text-decoration: none;
    float: left;
    text-align: center;
    width: 20%;
    font-size: 0.8em;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.4);
    color: #666464;
    padding: 15px 8px;
    display: initial;
    font-weight: bold;
    transition: width 5s;
  }

  .navbar a.active {
    border-bottom: 2px solid rgb(186, 185, 190);
    color: #949292;
  }

  .navbar a:hover {
    border-bottom: 2px solid rgb(186, 185, 190);
    color: #949292;
    transition: width 5s;
  }

  div.navbar a {
    display: initial;
  }

  div#page {
    margin-bottom: 10px;
  }

  div#page div.title p {
    background-color: rgb(78, 111, 173);
    color: white;
    margin: 5px 0 5px 0px;
    padding: 8px 5px;
    width: 8em;
    text-align: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bold;
    font-size: small;
  }

  div#page div.about-text {
    padding: 20px;
    max-width: 85%;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    color: #fff;
    font-size: small;
    border-radius: 10px;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 0.336);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);
    color: #333;
    border: 1px solid rgb(253, 152, 69);
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  div#page div.about-text .profilepic {
    background-image: linear-gradient(rgba(255, 255, 255, 0.911),
        rgba(230, 212, 212, 0.5));
    margin: auto;
    border-radius: 8px;
    width: auto;
    height: 135px;
    object-fit: cover;
    display: block;
    /* position: relative; */
  }

  div#page div.about-text div.desc-title {
    background: linear-gradient(180deg, rgb(4, 72, 95), rgb(4, 72, 95));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline 1.5px rgb(69, 107, 11);
  }

  div#page div.contact-info {
    max-width: fit-content;
    display: block;
    background-color: rgba(255, 255, 255, 0.336);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);
    margin: auto;
    border-radius: 15px;
    padding: 15px;
    border: 1px solid rgb(206, 182, 49);
    z-index: 0;
  }

  div#page div.contact-info p {
    font-size: 0.9rem;
    color: rgb(43, 43, 41);
    font-weight: bold;
  }

  div#page div.contact-info ul {
    list-style-type: none;
  }

  div#page div.contact-info ul li {
    margin: 8px;
  }

  div#page div.contact-info ul li i {
    background: none;
    color: rgb(37, 28, 28);
    font-size: 14px;
  }

  div#page div.contact-info ul li a {
    color: rgb(37, 28, 28);
    text-decoration: none;
    background: none;
    font-size: 14px;
    padding: 5px;
    border-radius: 10px;
  }

  div#page div.contact-info ul li a:hover {
    background-color: #a7a4a441;
  }

  #scrolling {
    font-size: small;
    color: rgb(252, 191, 101);
    width: 20%;

    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 40px;
    /* Place the button at the bottom of the page */
    right: 20px;
    /* Place the button 30px from the right */
    z-index: 99;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    background-color: rgba(63, 11, 22, 0.918);
    box-shadow: 0 2px 5px -2px rgb(116, 79, 79);
    border: 1px solid rgb(255, 204, 160);
    user-select: none;
    cursor: pointer;
  }

  #scrolling:active {
    background-color: rgba(151, 6, 38, 0.918);
  }

  footer.copyright {
    background-color: rgba(255, 255, 255, 0.288);
    backdrop-filter: blur(8px);
    box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.685);
    color: #333;
    margin-bottom: 0;
    font-size: 12px;
    padding: 8px 5px;
    text-align: center;
    font-weight: bold;
    user-select: none;
  }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
  div.header {
    display: none;
  }

  header {
    display: initial;
    user-select: none;
  }

  .navbar {
    width: 100%;
    position: sticky;
    top: 0;
  }

  .navbar a {
    text-decoration: none;
    float: left;
    text-align: center;
    width: 20%;
    font-size: 0.8em;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.4);
    color: #666464;
    padding: 15px 8px;
    display: initial;
    font-weight: bold;
    transition: width 5s;
  }

  .navbar a.active {
    border-bottom: 2px solid rgb(186, 185, 190);
    color: #949292;
  }

  .navbar a:hover {
    border-bottom: 2px solid rgb(186, 185, 190);
    color: #949292;
    transition: width 5s;
  }

  div.navbar a {
    display: initial;
  }

  div#page {
    margin-bottom: 10px;
  }

  div#page div.title p {
    background-color: rgb(78, 111, 173);
    color: white;
    margin: 5px 0 5px 0px;
    padding: 8px 5px;
    width: 8em;
    text-align: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bold;
    font-size: small;
  }

  div#page div.about-text {
    padding: 20px;
    max-width: 85%;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    color: #fff;
    font-size: small;
    border-radius: 10px;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 0.336);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);
    color: #333;
    border: 1px solid rgb(253, 152, 69);
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  div#page div.about-text .profilepic {
    background-image: linear-gradient(rgba(255, 255, 255, 0.911),
        rgba(230, 212, 212, 0.5));
    margin: auto;
    border-radius: 8px;
    width: auto;
    height: 135px;
    object-fit: cover;
    display: block;
    /* position: relative; */
  }

  div#page div.about-text div.desc-title {
    background: linear-gradient(180deg, rgb(4, 72, 95), rgb(4, 72, 95));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline 1.5px rgb(69, 107, 11);
  }

  div#page div.contact-info {
    max-width: fit-content;
    display: block;
    background-color: rgba(255, 255, 255, 0.336);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);
    margin: auto;
    border-radius: 15px;
    padding: 15px;
    border: 1px solid rgb(206, 182, 49);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 0;
  }

  div#page div.contact-info p {
    font-size: 0.9rem;
    color: rgb(43, 43, 41);
    font-weight: bold;
  }

  div#page div.contact-info ul {
    list-style-type: none;
  }

  div#page div.contact-info ul li {
    margin: 8px;
  }

  div#page div.contact-info ul li i {
    background: none;
    color: rgb(37, 28, 28);
    font-size: 14px;
  }

  div#page div.contact-info ul li a {
    color: rgb(37, 28, 28);
    text-decoration: none;
    background: none;
    font-size: 14px;
    padding: 5px;
    border-radius: 10px;
  }

  div#page div.contact-info ul li a:hover {
    background-color: #a7a4a441;
  }

  #scrolling {
    font-size: small;
    color: rgb(252, 191, 101);
    width: 20%;

    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 40px;
    /* Place the button at the bottom of the page */
    right: 20px;
    /* Place the button 30px from the right */
    z-index: 99;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    background-color: rgba(63, 11, 22, 0.918);
    box-shadow: 0 2px 5px -2px rgb(116, 79, 79);
    border: 1px solid rgb(255, 204, 160);
    user-select: none;
    cursor: pointer;
  }

  #scrolling:active {
    background-color: rgba(151, 6, 38, 0.918);
  }

  footer.copyright {
    background-color: rgba(255, 255, 255, 0.288);
    backdrop-filter: blur(8px);
    box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.685);
    color: #333;
    margin-bottom: 0;
    font-size: 12px;
    padding: 8px 5px;
    text-align: center;
    font-weight: bold;
    user-select: none;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  div.header {
    display: none;
  }

  header {
    display: initial;
    user-select: none;
  }

  .navbar {
    width: 100%;
    position: sticky;
    top: 0;
  }

  .navbar a {
    text-decoration: none;
    float: left;
    text-align: center;
    width: 20%;
    font-size: 0.8em;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.4);
    color: #666464;
    padding: 15px 8px;
    display: initial;
    font-weight: bold;
    transition: width 5s;
  }

  .navbar a.active {
    border-bottom: 2px solid rgb(186, 185, 190);
    color: #949292;
  }

  .navbar a:hover {
    border-bottom: 2px solid rgb(186, 185, 190);
    color: #949292;
    transition: width 5s;
  }

  div.navbar a {
    display: initial;
  }

  div#page {
    margin-bottom: 10px;
  }

  div#page div.title p {
    background-color: rgb(78, 111, 173);
    color: white;
    margin: 5px 0 5px 0px;
    padding: 8px 5px;
    width: 8em;
    text-align: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bold;
    font-size: small;
  }

  div#page div.about-text {
    padding: 20px;
    max-width: 85%;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    color: #fff;
    font-size: small;
    border-radius: 10px;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 0.336);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);
    color: #333;
    border: 1px solid rgb(253, 152, 69);
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  div#page div.about-text .profilepic {
    background-image: linear-gradient(rgba(255, 255, 255, 0.911),
        rgba(230, 212, 212, 0.5));
    margin: auto;
    border-radius: 8px;
    width: auto;
    height: 135px;
    object-fit: cover;
    display: block;
    /* position: relative; */
  }

  div#page div.about-text div.desc-title {
    background: linear-gradient(180deg, rgb(4, 72, 95), rgb(4, 72, 95));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline 1.5px rgb(69, 107, 11);
  }

  div#page div.contact-info {
    max-width: fit-content;
    display: block;
    background-color: rgba(255, 255, 255, 0.336);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);
    margin: auto;
    border-radius: 15px;
    padding: 15px;
    border: 1px solid rgb(206, 182, 49);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 0;
  }

  div#page div.contact-info p {
    font-size: 0.9rem;
    color: rgb(43, 43, 41);
    font-weight: bold;
  }

  div#page div.contact-info ul {
    list-style-type: none;
  }

  div#page div.contact-info ul li {
    margin: 8px;
  }

  div#page div.contact-info ul li i {
    background: none;
    color: rgb(37, 28, 28);
    font-size: 14px;
  }

  div#page div.contact-info ul li a {
    color: rgb(37, 28, 28);
    text-decoration: none;
    background: none;
    font-size: 14px;
    padding: 5px;
    border-radius: 10px;
  }

  div#page div.contact-info ul li a:hover {
    background-color: #a7a4a441;
  }

  #scrolling {
    font-size: small;
    color: rgb(252, 191, 101);
    width: 20%;

    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 40px;
    /* Place the button at the bottom of the page */
    right: 20px;
    /* Place the button 30px from the right */
    z-index: 99;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    background-color: rgba(63, 11, 22, 0.918);
    box-shadow: 0 2px 5px -2px rgb(116, 79, 79);
    border: 1px solid rgb(255, 204, 160);
    user-select: none;
    cursor: pointer;
  }

  #scrolling:active {
    background-color: rgba(151, 6, 38, 0.918);
  }

  footer.copyright {
    background-color: rgba(255, 255, 255, 0.288);
    backdrop-filter: blur(8px);
    box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.685);
    color: #333;
    margin-bottom: 0;
    font-size: 12px;
    padding: 8px 5px;
    text-align: center;
    font-weight: bold;
    user-select: none;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  header {
    display: initial;
    user-select: none;
  }

  .navbar {
    width: 100%;
    position: sticky;
    top: 0;
  }

  .navbar a {
    text-decoration: none;
    float: left;
    text-align: center;
    width: 20%;
    font-size: 0.8em;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.4);
    color: #666464;
    padding: 15px 8px;
    display: initial;
    font-weight: bold;
    transition: width 5s;
  }

  .navbar a.active {
    border-bottom: 2px solid rgb(186, 185, 190);
    color: #949292;
  }

  .navbar a:hover {
    border-bottom: 2px solid rgb(186, 185, 190);
    color: #949292;
    transition: width 5s;
  }

  div#page {
    margin-bottom: 10px;
  }

  div#page div.title p {
    background-color: rgb(78, 111, 173);
    color: white;
    margin: 5px 0 5px 0px;
    padding: 10px;
    width: 10em;
    text-align: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bold;
    font-size: medium;
  }

  div#page div.about-text {
    padding: 20px;
    max-width: fit-content;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
    color: #fff;
    font-size: small;
    border-radius: 10px;
    line-height: 20px;
    background-color: rgba(255, 255, 255, 0.336);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);
    color: #333;
    border: 1px solid rgb(253, 152, 69);
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  div#page div.about-text .profilepic {
    background-image: linear-gradient(rgba(255, 255, 255, 0.911),
        rgba(230, 212, 212, 0.5));
    margin: auto;
    border-radius: 8px;
    width: auto;
    height: 135px;
    object-fit: cover;
    display: block;
    /* position: relative; */
  }

  div#page div.about-text div.desc-title {
    background: linear-gradient(180deg, rgb(4, 72, 95), rgb(4, 72, 95));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline 1.5px rgb(69, 107, 11);
  }

  div#page div.contact-info {
    max-width: fit-content;
    display: block;
    background-color: rgba(255, 255, 255, 0.336);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);
    margin: auto;
    border-radius: 15px;
    padding: 15px;
    border: 1px solid rgb(206, 182, 49);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 0;
  }

  div#page div.contact-info p {
    font-size: 0.9rem;
    color: rgb(43, 43, 41);
    font-weight: bold;
  }

  div#page div.contact-info ul {
    list-style-type: none;
  }

  div#page div.contact-info ul li {
    margin: 8px;
  }

  div#page div.contact-info ul li i {
    background: none;
    color: rgb(37, 28, 28);
    font-size: 14px;
  }

  div#page div.contact-info ul li a {
    color: rgb(37, 28, 28);
    text-decoration: none;
    background: none;
    font-size: 14px;
    padding: 5px;
    border-radius: 10px;
  }

  div#page div.contact-info ul li a:hover {
    background-color: #a7a4a441;
  }

  #scrolling {
    font-size: 12px;
    color: rgb(19, 51, 61);
    width: 22%;
    position: fixed;
    bottom: 40%;
    margin-left: 80%;
    text-align: center;
    text-decoration: none;
    padding: 8px 5px;
    box-shadow: 0 2px 5px -2px rgba(116, 79, 79, 0.795);
    border: 1px solid rgb(255, 204, 160);
    user-select: none;
    display: none;
  }

  #scrolling:active {
    background-color: rgb(229, 228, 230);
  }

  footer.copyright {
    background-color: rgba(255, 255, 255, 0.288);
    backdrop-filter: blur(8px);
    box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.685);
    color: #333;
    margin-bottom: 0;
    font-size: 12px;
    padding: 8px 5px;
    text-align: center;
    font-weight: bold;
    user-select: none;
  }

}
