* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: none;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: #b88080d7;
  color: #ffffff;
}

div.header {
  display: none;
}

@media screen and (max-width: 500px) {
  div.header {
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.4);
    user-select: none;
    position: fixed;
    top: 0;
    width: 100%;
    display: initial;
    padding: 15px 10px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  div#page {
    margin-top: 6%;
  }

  div.bar,
  div#cross {
    float: left;
    width: auto;
    margin-left: 2%;
    margin-top: 2%;
    cursor: pointer;
    padding: 7px;
  }

  div.bar:hover, div#cross:hover {
    background-color: rgb(229, 228, 230);
    padding: 7px;
    border-radius: 10px;
    width: auto;
  }

  div.bar:active, div#cross:active {
    background-color: rgb(235, 235, 235);
    padding: 7px;
    border-radius: 10px;
    width: auto;
  }

  div.bar1,
  div.bar2,
  div.bar3,
  div.bar4 {
    padding: 1.6px;
    margin: 3px;
    width: 20px;
    background-color: #837f7f;
    border-radius: 50px;
  }

  div.bar3 {
    transform: rotate(135deg) translate(2px, -1px);
  }

  div.bar4 {
    transform: rotate(-135deg) translate(2.8px, 2.5px);
  }

  h1.h1 {
    color: #5e5d5d;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8em;
    left: 0;
    right: 0;
    padding: 7px;
    margin-top: 7px;
  }

  hr {
    margin-top: 20px;
    margin-bottom: 10px;
    background: #aaa;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  header {
    display: none;
    position: static;
  }

  div#menu {
    display: none;
    height: 100vh;
    margin-left: 50px;
  }

  #menu ul {
    list-style-type: none;
    font-family: sans-serif;
  }

  #menu ul li a {
    display: block;
    color: #9c9c9c;
    padding: 12px 2px;
    text-decoration: none;
    font-size: 16px;
    user-select: none;
    cursor: pointer;
  }

  #menu ul li {
    border-bottom: 1px solid #b8b7b7;
    margin-left: 5%;
    max-width: 85%;
  }

  #menu ul li:nth-child(6) {
    border-bottom: none;
  }

  #menu ul li:nth-child(1) {
    border-top: none;
  }

  #menu ul li a:hover {
    color: #636363;
  }

  #menu ul li a.active {
    color: #636363;
  }

  div#menu div.clock {
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    padding: 10px 5px;
    color: rgba(85, 84, 84, 0.932);
    /* background: linear-gradient(180deg, lightBlue, deepSkyBlue);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent; */
    letter-spacing: 2px;
  }

  div.navbar a {
    display: none;
  }

  a#scrolling {
    font-size: 12px;
    color: deepSkyBlue;
    width: 22%;
    text-align: center;
    text-decoration: none;
    padding: 8px 5px;
    background-color: #333;
    user-select: none;
    display: none;
    position: fixed;
    text-align: center;
    top: initial;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }

  a#scrolling:active {
    font-size: 10px;
  }
}

header {
  display: initial;
  user-select: none;
}

.navbar {
  width: 100%;
  position: sticky;
  top: 0;
}

.navbar a {
  text-decoration: none;
  float: left;
  text-align: center;
  width: 20%;
  font-size: 0.8em;
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(20px);
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.4);
  color: #666464;
  padding: 15px 8px;
  display: initial;
  font-weight: bold;
  transition: width 5s;
}

.navbar a.active {
  border-bottom: 2px solid rgb(186, 185, 190);
  color: #949292;
}

.navbar a:hover {
  border-bottom: 2px solid rgb(186, 185, 190);
  color: #949292;
  transition: width 5s;
}

/* div.p1 {
    padding: 10px 12px;
    background-color: darkslateblue;
    color: lavender;
    margin: 6px 8px;
    font-size: 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  
  div.p2 {
    padding: 10px 12px;
    background-color: darkslateblue;
    color: lavender;
    margin: 6px 8px;
    font-size: 15px;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-size: 15px;
  }
  
  div.p3 {
    padding: 10px 12px;
    background-color: darkslateblue;
    color: lavender;
    margin: 6px 8px;
    font-size: 15px;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  } */
/* 
  .number {
    background-color: slateBlue;
    padding: 8px;
    color: #ddd;
    max-width: 60px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    font-weight: bold;
    user-select: none;
    margin-top: 8px;
  } */

#scrolling {
  font-size: 12px;
  color: deepSkyBlue;
  width: 12%;
  text-align: center;
  text-decoration: none;
  padding: 8px 5px;
  background-color: #333;
  user-select: none;
  display: none;
  position: fixed;
  top: 60%;
  right: 0;
  z-index: 1;
}

#scrolling:active {
  font-size: 10px;
}

footer {
  background-color: darkslateblue;
  /* color: ; */
  padding: 8px 5px;
}

p.copyright {
  background: linear-gradient(90deg, yellow, gold, yellow);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  padding: 3px;
  text-align: center;
  font-weight: bold;
  user-select: none;
}
